<h1>Movies</h1>

<div>
    <a href="/">Home</a>
</div>

<% movies["Search"].forEach((movie)=>{ %>
<p><%= movie.Title %> |
    <%= movie.Year %> |
    imdbID: <%= movie.imdbID %> |
    <%= movie.Type %> </p> <br>
<img src="<%= movie.Poster %>" type="">

<% }) %>